<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.BlogMapper" >
  <resultMap id="BaseResultMap" type="com.jf.model.Blog" >
    <id column="blog_id" property="blogId" jdbcType="INTEGER" />
    <result column="blog_name" property="blogName" jdbcType="VARCHAR" />
    <result column="blog_type" property="blogType" jdbcType="INTEGER" />
    <result column="blog_author" property="blogAuthor" jdbcType="VARCHAR" />
    <result column="good" property="good" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="img1" property="img1" jdbcType="VARCHAR" />
    <result column="img2" property="img2" jdbcType="VARCHAR" />
    <result column="img3" property="img3" jdbcType="VARCHAR" />
    <result column="blog_info" property="blogInfo" jdbcType="VARCHAR" />
    <result column="back1" property="back1" jdbcType="VARCHAR" />
    <result column="back2" property="back2" jdbcType="VARCHAR" />
    <result column="back3" property="back3" jdbcType="VARCHAR" />
    <result column="back4" property="back4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    blog_id, blog_name, blog_type, blog_author, good, add_time, img1, img2, img3, blog_info, 
    back1, back2, back3, back4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.model.BlogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blog
    where blog_id = #{blogId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog
    where blog_id = #{blogId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.model.BlogExample" >
    delete from blog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.model.Blog" >
    insert into blog (blog_id, blog_name, blog_type, 
      blog_author, good, add_time, 
      img1, img2, img3, blog_info, 
      back1, back2, back3, 
      back4)
    values (#{blogId,jdbcType=INTEGER}, #{blogName,jdbcType=VARCHAR}, #{blogType,jdbcType=INTEGER}, 
      #{blogAuthor,jdbcType=VARCHAR}, #{good,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{img1,jdbcType=VARCHAR}, #{img2,jdbcType=VARCHAR}, #{img3,jdbcType=VARCHAR}, #{blogInfo,jdbcType=VARCHAR}, 
      #{back1,jdbcType=VARCHAR}, #{back2,jdbcType=VARCHAR}, #{back3,jdbcType=VARCHAR}, 
      #{back4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jf.model.Blog" >
    insert into blog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="blogId != null" >
        blog_id,
      </if>
      <if test="blogName != null" >
        blog_name,
      </if>
      <if test="blogType != null" >
        blog_type,
      </if>
      <if test="blogAuthor != null" >
        blog_author,
      </if>
      <if test="good != null" >
        good,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="img1 != null" >
        img1,
      </if>
      <if test="img2 != null" >
        img2,
      </if>
      <if test="img3 != null" >
        img3,
      </if>
      <if test="blogInfo != null" >
        blog_info,
      </if>
      <if test="back1 != null" >
        back1,
      </if>
      <if test="back2 != null" >
        back2,
      </if>
      <if test="back3 != null" >
        back3,
      </if>
      <if test="back4 != null" >
        back4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="blogId != null" >
        #{blogId,jdbcType=INTEGER},
      </if>
      <if test="blogName != null" >
        #{blogName,jdbcType=VARCHAR},
      </if>
      <if test="blogType != null" >
        #{blogType,jdbcType=INTEGER},
      </if>
      <if test="blogAuthor != null" >
        #{blogAuthor,jdbcType=VARCHAR},
      </if>
      <if test="good != null" >
        #{good,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="img1 != null" >
        #{img1,jdbcType=VARCHAR},
      </if>
      <if test="img2 != null" >
        #{img2,jdbcType=VARCHAR},
      </if>
      <if test="img3 != null" >
        #{img3,jdbcType=VARCHAR},
      </if>
      <if test="blogInfo != null" >
        #{blogInfo,jdbcType=VARCHAR},
      </if>
      <if test="back1 != null" >
        #{back1,jdbcType=VARCHAR},
      </if>
      <if test="back2 != null" >
        #{back2,jdbcType=VARCHAR},
      </if>
      <if test="back3 != null" >
        #{back3,jdbcType=VARCHAR},
      </if>
      <if test="back4 != null" >
        #{back4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.model.BlogExample" resultType="java.lang.Integer" >
    select count(*) from blog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update blog
    <set >
      <if test="record.blogId != null" >
        blog_id = #{record.blogId,jdbcType=INTEGER},
      </if>
      <if test="record.blogName != null" >
        blog_name = #{record.blogName,jdbcType=VARCHAR},
      </if>
      <if test="record.blogType != null" >
        blog_type = #{record.blogType,jdbcType=INTEGER},
      </if>
      <if test="record.blogAuthor != null" >
        blog_author = #{record.blogAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.good != null" >
        good = #{record.good,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.img1 != null" >
        img1 = #{record.img1,jdbcType=VARCHAR},
      </if>
      <if test="record.img2 != null" >
        img2 = #{record.img2,jdbcType=VARCHAR},
      </if>
      <if test="record.img3 != null" >
        img3 = #{record.img3,jdbcType=VARCHAR},
      </if>
      <if test="record.blogInfo != null" >
        blog_info = #{record.blogInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.back1 != null" >
        back1 = #{record.back1,jdbcType=VARCHAR},
      </if>
      <if test="record.back2 != null" >
        back2 = #{record.back2,jdbcType=VARCHAR},
      </if>
      <if test="record.back3 != null" >
        back3 = #{record.back3,jdbcType=VARCHAR},
      </if>
      <if test="record.back4 != null" >
        back4 = #{record.back4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update blog
    set blog_id = #{record.blogId,jdbcType=INTEGER},
      blog_name = #{record.blogName,jdbcType=VARCHAR},
      blog_type = #{record.blogType,jdbcType=INTEGER},
      blog_author = #{record.blogAuthor,jdbcType=VARCHAR},
      good = #{record.good,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      img1 = #{record.img1,jdbcType=VARCHAR},
      img2 = #{record.img2,jdbcType=VARCHAR},
      img3 = #{record.img3,jdbcType=VARCHAR},
      blog_info = #{record.blogInfo,jdbcType=VARCHAR},
      back1 = #{record.back1,jdbcType=VARCHAR},
      back2 = #{record.back2,jdbcType=VARCHAR},
      back3 = #{record.back3,jdbcType=VARCHAR},
      back4 = #{record.back4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.model.Blog" >
    update blog
    <set >
      <if test="blogName != null" >
        blog_name = #{blogName,jdbcType=VARCHAR},
      </if>
      <if test="blogType != null" >
        blog_type = #{blogType,jdbcType=INTEGER},
      </if>
      <if test="blogAuthor != null" >
        blog_author = #{blogAuthor,jdbcType=VARCHAR},
      </if>
      <if test="good != null" >
        good = #{good,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="img1 != null" >
        img1 = #{img1,jdbcType=VARCHAR},
      </if>
      <if test="img2 != null" >
        img2 = #{img2,jdbcType=VARCHAR},
      </if>
      <if test="img3 != null" >
        img3 = #{img3,jdbcType=VARCHAR},
      </if>
      <if test="blogInfo != null" >
        blog_info = #{blogInfo,jdbcType=VARCHAR},
      </if>
      <if test="back1 != null" >
        back1 = #{back1,jdbcType=VARCHAR},
      </if>
      <if test="back2 != null" >
        back2 = #{back2,jdbcType=VARCHAR},
      </if>
      <if test="back3 != null" >
        back3 = #{back3,jdbcType=VARCHAR},
      </if>
      <if test="back4 != null" >
        back4 = #{back4,jdbcType=VARCHAR},
      </if>
    </set>
    where blog_id = #{blogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.model.Blog" >
    update blog
    set blog_name = #{blogName,jdbcType=VARCHAR},
      blog_type = #{blogType,jdbcType=INTEGER},
      blog_author = #{blogAuthor,jdbcType=VARCHAR},
      good = #{good,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      img1 = #{img1,jdbcType=VARCHAR},
      img2 = #{img2,jdbcType=VARCHAR},
      img3 = #{img3,jdbcType=VARCHAR},
      blog_info = #{blogInfo,jdbcType=VARCHAR},
      back1 = #{back1,jdbcType=VARCHAR},
      back2 = #{back2,jdbcType=VARCHAR},
      back3 = #{back3,jdbcType=VARCHAR},
      back4 = #{back4,jdbcType=VARCHAR}
    where blog_id = #{blogId,jdbcType=INTEGER}
  </update>
</mapper>