<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.BookMapper" >
  <resultMap id="BaseResultMap" type="com.jf.model.Book" >
    <id column="book_id" property="bookId" jdbcType="INTEGER" />
    <result column="book_name" property="bookName" jdbcType="VARCHAR" />
    <result column="book_author" property="bookAuthor" jdbcType="VARCHAR" />
    <result column="book_type" property="bookType" jdbcType="INTEGER" />
    <result column="book_info" property="bookInfo" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="good" property="good" jdbcType="INTEGER" />
    <result column="back1" property="back1" jdbcType="VARCHAR" />
    <result column="back2" property="back2" jdbcType="VARCHAR" />
    <result column="back3" property="back3" jdbcType="VARCHAR" />
    <result column="back4" property="back4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    book_id, book_name, book_author, book_type, book_info, add_time, good, back1, back2, 
    back3, back4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.model.BookExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from book
    where book_id = #{bookId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from book
    where book_id = #{bookId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.model.BookExample" >
    delete from book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.model.Book" >
    insert into book (book_id, book_name, book_author, 
      book_type, book_info, add_time, 
      good, back1, back2, 
      back3, back4)
    values (#{bookId,jdbcType=INTEGER}, #{bookName,jdbcType=VARCHAR}, #{bookAuthor,jdbcType=VARCHAR}, 
      #{bookType,jdbcType=INTEGER}, #{bookInfo,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{good,jdbcType=INTEGER}, #{back1,jdbcType=VARCHAR}, #{back2,jdbcType=VARCHAR}, 
      #{back3,jdbcType=VARCHAR}, #{back4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jf.model.Book" >
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookId != null" >
        book_id,
      </if>
      <if test="bookName != null" >
        book_name,
      </if>
      <if test="bookAuthor != null" >
        book_author,
      </if>
      <if test="bookType != null" >
        book_type,
      </if>
      <if test="bookInfo != null" >
        book_info,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="good != null" >
        good,
      </if>
      <if test="back1 != null" >
        back1,
      </if>
      <if test="back2 != null" >
        back2,
      </if>
      <if test="back3 != null" >
        back3,
      </if>
      <if test="back4 != null" >
        back4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookId != null" >
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="bookName != null" >
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookAuthor != null" >
        #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="bookType != null" >
        #{bookType,jdbcType=INTEGER},
      </if>
      <if test="bookInfo != null" >
        #{bookInfo,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="good != null" >
        #{good,jdbcType=INTEGER},
      </if>
      <if test="back1 != null" >
        #{back1,jdbcType=VARCHAR},
      </if>
      <if test="back2 != null" >
        #{back2,jdbcType=VARCHAR},
      </if>
      <if test="back3 != null" >
        #{back3,jdbcType=VARCHAR},
      </if>
      <if test="back4 != null" >
        #{back4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.model.BookExample" resultType="java.lang.Integer" >
    select count(*) from book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update book
    <set >
      <if test="record.bookId != null" >
        book_id = #{record.bookId,jdbcType=INTEGER},
      </if>
      <if test="record.bookName != null" >
        book_name = #{record.bookName,jdbcType=VARCHAR},
      </if>
      <if test="record.bookAuthor != null" >
        book_author = #{record.bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.bookType != null" >
        book_type = #{record.bookType,jdbcType=INTEGER},
      </if>
      <if test="record.bookInfo != null" >
        book_info = #{record.bookInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.good != null" >
        good = #{record.good,jdbcType=INTEGER},
      </if>
      <if test="record.back1 != null" >
        back1 = #{record.back1,jdbcType=VARCHAR},
      </if>
      <if test="record.back2 != null" >
        back2 = #{record.back2,jdbcType=VARCHAR},
      </if>
      <if test="record.back3 != null" >
        back3 = #{record.back3,jdbcType=VARCHAR},
      </if>
      <if test="record.back4 != null" >
        back4 = #{record.back4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update book
    set book_id = #{record.bookId,jdbcType=INTEGER},
      book_name = #{record.bookName,jdbcType=VARCHAR},
      book_author = #{record.bookAuthor,jdbcType=VARCHAR},
      book_type = #{record.bookType,jdbcType=INTEGER},
      book_info = #{record.bookInfo,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      good = #{record.good,jdbcType=INTEGER},
      back1 = #{record.back1,jdbcType=VARCHAR},
      back2 = #{record.back2,jdbcType=VARCHAR},
      back3 = #{record.back3,jdbcType=VARCHAR},
      back4 = #{record.back4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.model.Book" >
    update book
    <set >
      <if test="bookName != null" >
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookAuthor != null" >
        book_author = #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="bookType != null" >
        book_type = #{bookType,jdbcType=INTEGER},
      </if>
      <if test="bookInfo != null" >
        book_info = #{bookInfo,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="good != null" >
        good = #{good,jdbcType=INTEGER},
      </if>
      <if test="back1 != null" >
        back1 = #{back1,jdbcType=VARCHAR},
      </if>
      <if test="back2 != null" >
        back2 = #{back2,jdbcType=VARCHAR},
      </if>
      <if test="back3 != null" >
        back3 = #{back3,jdbcType=VARCHAR},
      </if>
      <if test="back4 != null" >
        back4 = #{back4,jdbcType=VARCHAR},
      </if>
    </set>
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.model.Book" >
    update book
    set book_name = #{bookName,jdbcType=VARCHAR},
      book_author = #{bookAuthor,jdbcType=VARCHAR},
      book_type = #{bookType,jdbcType=INTEGER},
      book_info = #{bookInfo,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      good = #{good,jdbcType=INTEGER},
      back1 = #{back1,jdbcType=VARCHAR},
      back2 = #{back2,jdbcType=VARCHAR},
      back3 = #{back3,jdbcType=VARCHAR},
      back4 = #{back4,jdbcType=VARCHAR}
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  <select id="getBooks" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from book
  </select>
  <delete id="delete" parameterType="com.jf.model.Book" >
    delete from book
    where 1=1
    <if test="bookId != null" >
      and book_id = #{bookId,jdbcType=INTEGER}
    </if>
    <if test="bookName != null" >
      and book_name = #{bookName,jdbcType=VARCHAR}
    </if>
    <if test="bookAuthor != null" >
      and book_author = #{bookAuthor,jdbcType=VARCHAR}
    </if>
    <if test="bookType != null" >
      and book_type = #{bookType,jdbcType=INTEGER}
    </if>
    <if test="bookInfo != null" >
      and book_info = #{bookInfo,jdbcType=VARCHAR}
    </if>
    <if test="addTime != null" >
      and add_time = #{addTime,jdbcType=TIMESTAMP}
    </if>
    <if test="good != null" >
      and good = #{good,jdbcType=INTEGER}
    </if>
    <if test="back1 != null" >
      and back1 = #{back1,jdbcType=VARCHAR}
    </if>
    <if test="back2 != null" >
      and back2 = #{back2,jdbcType=VARCHAR}
    </if>
    <if test="back3 != null" >
      and back3 = #{back3,jdbcType=VARCHAR}
    </if>
    <if test="back4 != null" >
      and back4 = #{back4,jdbcType=VARCHAR}
    </if>
  </delete>

  <select id="getBookAll" resultMap="BaseResultMap" parameterType="com.jf.model.Book" >
    select
    <include refid="Base_Column_List" />
    from book where 1=1
    <if test="bookId != null" >
      and book_id = #{bookId,jdbcType=INTEGER}
    </if>
    <if test="bookName != null" >
      and book_name = #{bookName,jdbcType=VARCHAR}
    </if>
    <if test="bookAuthor != null" >
      and book_author = #{bookAuthor,jdbcType=VARCHAR}
    </if>
    <if test="bookType != null" >
      and book_type = #{bookType,jdbcType=INTEGER}
    </if>
    <if test="bookInfo != null" >
      and book_info = #{bookInfo,jdbcType=VARCHAR}
    </if>
    <if test="addTime != null" >
      and add_time = #{addTime,jdbcType=TIMESTAMP}
    </if>
    <if test="good != null" >
      and good = #{good,jdbcType=INTEGER}
    </if>
    <if test="back1 != null" >
      and back1 = #{back1,jdbcType=VARCHAR}
    </if>
    <if test="back2 != null" >
      and back2 = #{back2,jdbcType=VARCHAR}
    </if>
    <if test="back3 != null" >
      and back3 = #{back3,jdbcType=VARCHAR}
    </if>
    <if test="back4 != null" >
      and back4 = #{back4,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="getBook" resultMap="BaseResultMap" parameterType="com.jf.model.Book" >
    select
    <include refid="Base_Column_List" />
    from book where 1=1
    <if test="bookId != null" >
      and book_id = #{bookId,jdbcType=INTEGER}
    </if>
    <if test="bookName != null" >
      and book_name = #{bookName,jdbcType=VARCHAR}
    </if>
    <if test="bookAuthor != null" >
      and book_author = #{bookAuthor,jdbcType=VARCHAR}
    </if>
    <if test="bookType != null" >
      and book_type = #{bookType,jdbcType=INTEGER}
    </if>
    <if test="bookInfo != null" >
      and book_info = #{bookInfo,jdbcType=VARCHAR}
    </if>
    <if test="addTime != null" >
      and add_time = #{addTime,jdbcType=TIMESTAMP}
    </if>
    <if test="good != null" >
      and good = #{good,jdbcType=INTEGER}
    </if>
    <if test="back1 != null" >
      and back1 = #{back1,jdbcType=VARCHAR}
    </if>
    <if test="back2 != null" >
      and back2 = #{back2,jdbcType=VARCHAR}
    </if>
    <if test="back3 != null" >
      and back3 = #{back3,jdbcType=VARCHAR}
    </if>
    <if test="back4 != null" >
      and back4 = #{back4,jdbcType=VARCHAR}
    </if>
  </select>

  <update id="update" parameterType="com.jf.model.Book" >
    update book
    <set >
      <if test="bookName != null" >
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookAuthor != null" >
        book_author = #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="bookType != null" >
        book_type = #{bookType,jdbcType=INTEGER},
      </if>
      <if test="bookInfo != null" >
        book_info = #{bookInfo,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="good != null" >
        good = #{good,jdbcType=INTEGER},
      </if>
      <if test="back1 != null" >
        back1 = #{back1,jdbcType=VARCHAR},
      </if>
      <if test="back2 != null" >
        back2 = #{back2,jdbcType=VARCHAR},
      </if>
      <if test="back3 != null" >
        back3 = #{back3,jdbcType=VARCHAR},
      </if>
      <if test="back4 != null" >
        back4 = #{back4,jdbcType=VARCHAR},
      </if>
    </set>
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
</mapper>