<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jf.dao.BookTypeMapper" >
  <resultMap id="BaseResultMap" type="com.jf.model.BookType" >
    <id column="book_type" property="bookType" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="back1" property="back1" jdbcType="VARCHAR" />
    <result column="back2" property="back2" jdbcType="VARCHAR" />
    <result column="back3" property="back3" jdbcType="VARCHAR" />
    <result column="back4" property="back4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    book_type, type_name, back1, back2, back3, back4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jf.model.BookTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from book_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from book_type
    where book_type = #{bookType,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from book_type
    where book_type = #{bookType,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jf.model.BookTypeExample" >
    delete from book_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jf.model.BookType" >
    insert into book_type (book_type, type_name, back1, 
      back2, back3, back4
      )
    values (#{bookType,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{back1,jdbcType=VARCHAR}, 
      #{back2,jdbcType=VARCHAR}, #{back3,jdbcType=VARCHAR}, #{back4,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jf.model.BookType" >
    insert into book_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookType != null" >
        book_type,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="back1 != null" >
        back1,
      </if>
      <if test="back2 != null" >
        back2,
      </if>
      <if test="back3 != null" >
        back3,
      </if>
      <if test="back4 != null" >
        back4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookType != null" >
        #{bookType,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="back1 != null" >
        #{back1,jdbcType=VARCHAR},
      </if>
      <if test="back2 != null" >
        #{back2,jdbcType=VARCHAR},
      </if>
      <if test="back3 != null" >
        #{back3,jdbcType=VARCHAR},
      </if>
      <if test="back4 != null" >
        #{back4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jf.model.BookTypeExample" resultType="java.lang.Integer" >
    select count(*) from book_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update book_type
    <set >
      <if test="record.bookType != null" >
        book_type = #{record.bookType,jdbcType=INTEGER},
      </if>
      <if test="record.typeName != null" >
        type_name = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.back1 != null" >
        back1 = #{record.back1,jdbcType=VARCHAR},
      </if>
      <if test="record.back2 != null" >
        back2 = #{record.back2,jdbcType=VARCHAR},
      </if>
      <if test="record.back3 != null" >
        back3 = #{record.back3,jdbcType=VARCHAR},
      </if>
      <if test="record.back4 != null" >
        back4 = #{record.back4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update book_type
    set book_type = #{record.bookType,jdbcType=INTEGER},
      type_name = #{record.typeName,jdbcType=VARCHAR},
      back1 = #{record.back1,jdbcType=VARCHAR},
      back2 = #{record.back2,jdbcType=VARCHAR},
      back3 = #{record.back3,jdbcType=VARCHAR},
      back4 = #{record.back4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jf.model.BookType" >
    update book_type
    <set >
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="back1 != null" >
        back1 = #{back1,jdbcType=VARCHAR},
      </if>
      <if test="back2 != null" >
        back2 = #{back2,jdbcType=VARCHAR},
      </if>
      <if test="back3 != null" >
        back3 = #{back3,jdbcType=VARCHAR},
      </if>
      <if test="back4 != null" >
        back4 = #{back4,jdbcType=VARCHAR},
      </if>
    </set>
    where book_type = #{bookType,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jf.model.BookType" >
    update book_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      back1 = #{back1,jdbcType=VARCHAR},
      back2 = #{back2,jdbcType=VARCHAR},
      back3 = #{back3,jdbcType=VARCHAR},
      back4 = #{back4,jdbcType=VARCHAR}
    where book_type = #{bookType,jdbcType=INTEGER}
  </update>

  <delete id="delete" parameterType="com.jf.model.BookType" >
    delete from book_type
    where 1=1
    <if test="bookType != null" >
      and book_type = #{bookType,jdbcType=INTEGER}
    </if>
    <if test="typeName != null" >
      and type_name = #{typeName,jdbcType=VARCHAR}
    </if>
    <if test="back1 != null" >
      and back1 = #{back1,jdbcType=VARCHAR}
    </if>
    <if test="back2 != null" >
      and back2 = #{back2,jdbcType=VARCHAR}
    </if>
    <if test="back3 != null" >
      and back3 = #{back3,jdbcType=VARCHAR}
    </if>
    <if test="back4 != null" >
      and back4 = #{back4,jdbcType=VARCHAR}
    </if>
  </delete>

  <update id="update" parameterType="com.jf.model.BookType" >
    update book_type
    <set >
      <if test="typeName != null and typeName !='' " >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="back1 != null and back1 !=''  "  >
        back1 = #{back1,jdbcType=VARCHAR},
      </if>
      <if test="back2 != null and back2 !='' " >
        back2 = #{back2,jdbcType=VARCHAR},
      </if>
      <if test="back3 != null and back3 !='' " >
        back3 = #{back3,jdbcType=VARCHAR},
      </if>
      <if test="back4 != null and back4 !='' " >
        back4 = #{back4,jdbcType=VARCHAR},
      </if>
    </set>
    where book_type = #{bookType,jdbcType=INTEGER}
  </update>

  <select id="getBookTypes" resultMap="BaseResultMap" parameterType="com.jf.model.BookType" >
    select
    <include refid="Base_Column_List" />
    from book_type
    where 1=1
    <if test="bookType != null" >
      and book_type = #{bookType,jdbcType=INTEGER}
    </if>
    <if test="typeName != null" >
      and type_name = #{typeName,jdbcType=VARCHAR}
    </if>
    <if test="back1 != null" >
      and back1 = #{back1,jdbcType=VARCHAR}
    </if>
    <if test="back2 != null" >
      and back2 = #{back2,jdbcType=VARCHAR}
    </if>
    <if test="back3 != null" >
      and back3 = #{back3,jdbcType=VARCHAR}
    </if>
    <if test="back4 != null" >
      and back4 = #{back4,jdbcType=VARCHAR}
    </if>
  </select>

</mapper>